
/**Global **/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Lateef', cursive;
    font-size: 2.4rem;
    line-height: 1;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.8rem;
}
/** Utilidades **/
.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.center-text{
    text-align: center;
}
.fw-400{
    font-family: 'Parisienne', cursive;
    font-weight: 400;
    letter-spacing:.5rem;
}
.d-block{
    display:block!important;
}
/** HEADER **/
.site-header.home{
    background-image: url(../img/headerucatolica.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh; /**Altura  **/
    min-height: 60rem;
}
.content-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-header h1{
    color: #98cafb;
    padding-bottom: 2rem;
    font-size: 12rem;
    line-height: 3;
    font-family: 'Parisienne', cursive;
    margin: 50rem 0 0 0;
}
.content-header h1::after{
    content: '';
    display: block;
    width: 35rem;
    height: .5rem;
    background-color: rgb(251, 205, 0);
    margin-right: 20rem;
    margin-top: -130px;
}
.bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

/** navigation **/
.navigation a{
    text-decoration: none;
    font-size: 3.5rem;
    color: #ffffff;
    margin-right: 2rem;
}
.navigation a:last-of-type{
    margin:0;
}
.navigation a:hover{
    color: #f3db07;
}

/** icons **/
.icons-us{
    display: flex;
    justify-content: space-between;

}
.icon{  
    flex-basis: 29%; /** Tamaño de la base **/
    text-align: center;
}

.icon h3{
    text-transform: inherit; /**Modificar para mayusculas **/
}
.semillero h2{
    font-size: 5rem;
}

/** Proyects **/
.container-proyects{
    display: flex;
    justify-content: space-between;
}
.proyects{
    flex-basis: calc(30% - 1rem);
    border: 1px solid #b5b5b5;
    background-color:#F5F5F5;
}
.container-proyects h3{
    font-size: 3rem;
}
.content-proyect{
    padding:2rem;
}
.content-proyect h3, .content-proyect p{
    padding:2rem;
    text-align: center;
}
.leader{
    color: #53a312;
    
}

/** boton **/
.btn{
    color: #ffffff;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 2.5rem;
    margin-top: 2rem;
    width: 30rem;
    text-align: center;
    display: inline-block!important;
}
.btn-amarillo{
    background-color: #e08709;
}
.btn-verde{
    background-color: #53a312;
}
.see-others{
    display: flex;
    justify-content: flex-end;
}
.iconos-caracteristicas{
    list-style: none;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
}
.iconos-caracteristicas li{
    float: 1;
    display: flex;
}
.iconos-caracteristicas li img{
    margin-right: .5rem;
    max-width: 40%;

}

/** anuncio **/
.annunce{
    background-image: url(../img/destacada.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.content-annunce {
    float: 1;
    padding-top: 4rem;
    color: rgb(255, 255, 255);
}

.content-annunce p {
    font-size: 3.5rem;
}
.content-annunce h3{
    font-size: 5rem;
}

/** blog-and-testimonials  **/
.blog-and-testimonials{
 display: flex;
 justify-content: space-between;
}
.blog-and-testimonials .blog{
    flex-basis: 60%;
}
.blog-and-testimonials .testimonials{
    flex-basis: calc(40% - 1rem);
}
.init-blog{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.init-blog:last-of-type{
    margin-bottom: 0;
}
.init-blog .imagen{
    flex-basis: 170%;
    margin-right: 2rem;
}
.init-blog a{
    color: black;
    text-decoration: none;
}
.init-blog .text-blog{
    flex-basis: calc(60% -1rem);;
}
.text-blog h4{
    margin: 0;
    line-height: 1.4;
}
.text-blog h4::after{
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: rgb(145, 231, 6);
}

/** testimoniales **/
.testimonial{
    background-color: #53a312;
    font-size: 2.8rem;
    padding: 4rem;
    color: #ffffff;
    border-radius: 2rem;
}
.testimonial p{
    text-align: right;
}
.testimonial blockquote::before{
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -5rem;
}
.testimonial blockquote{
    position:relative;
}

/** footer **/
.site-footer{
    background-color: black;
    margin: 0;
}
.container-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copyright{
    margin: 0;
    color: #ffffff;
}